/************ General CSS ***************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primary: #0b0f14;
	--secondary: white;
}
/************ MAIN CONTENT ************/

body {
	padding-top: 91px;
	color: rgb(0, 0, 0);
	background-color: var(--secondary);
	font-family: "Poppins", helvetica, arial, sans-serif;
}

.section-offset {
	padding-top: 150px;
	margin-top: -150px;
}

header {
	background-color: var(--secondary);
	padding: 12px 6%;
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	min-width: 94px;
	transition: box-shadow 0.3s ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section {
	padding: 1rem 10%;
}

/************ NAVIGATION ************/
.brand-name {
	font-weight: 700;
	font-size: 30px;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 12px;
}
.nav-links li a {
	position: relative;
	font-size: 18px;
	transition: all 0.3s ease;
	text-decoration: none;
	color: black;
}

.nav-links li {
	padding: 0 25px;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li a::after {
	content: "";
	width: 0;
	height: 3px;
	background-color: dodgerblue;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.1s;
}

.nav-links li a:hover::after {
	width: 100%;
}

.nav-links li a:hover {
	opacity: 90%;
	color: dodgerblue;
}

.nav-links li a:active {
	opacity: 0.5;
	transition: 0.05s;
}

.cta-link {
	color: black;
	text-decoration: none;
	transition: all 0.3s ease;
}

.cta-link:hover {
	opacity: 90%;
	color: dodgerblue;
}

/************ HERO ************/
.hero {
	display: flex;
	background-color: var(--secondary);
	align-items: center;
	justify-content: space-between;
	padding: 2rem 8%;
	gap: 2rem;
}

.hero-left {
	display: flex;
	gap: 2rem;
	flex: 1;
}

.profile-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	object-position: bottom;
	min-width: 120px;
	min-height: 120px;
}

.hero-text h1 {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.4;
}

.hero-text .highlight {
	font-weight: 700;
}

.hero-right {
	flex: 1;
	max-width: 500px;
}

.hero-right p {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.hero-contacts {
	display: flex;
	gap: 1rem;
	font-size: 1.3rem;
}

.social-icon {
	height: 30px;
	cursor: pointer;
}

.cta-btn {
	display: inline-block;
	padding: 0.7rem 1.2rem;
	border: 1px solid var(--primary);
	border-radius: 25px;
	text-decoration: none;
	color: var(--primary);
	font-weight: 500;
	transition: background 0.2s ease;
	margin-block: 1rem;
}

.cta-btn:hover {
	background: var(--primary);
	color: var(--secondary);
}

/* IG, linkedin, github dll */
.social-icons {
	display: flex;
	gap: 1rem;
	font-size: 1.3rem;
}

.social-icons a {
	color: var(--primary);
	transition: color 0.2s;
}

.social-icons a:hover {
	color: dodgerblue;
}

/************ TECH STACKS ************/
.skills {
	padding: 3rem 6%;
	background: var(--secondary);
}

.skills h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 2rem;
	color: var(--primary);
}

.skills-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	gap: 32px 32px;
	place-items: center;
	margin: 0 auto 1rem auto;
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 6px;
}

.logo-box {
	width: 70%;
	aspect-ratio: 1 / 1;
	border-radius: 16px;
	border: 2px solid lightgray;
	display: grid;
	place-items: center;
	transition: transform 0.2s ease;
	cursor: pointer;
}

.logo-box img {
	width: 60%;
	height: 60%;
	object-fit: contain;
}

.skill-label {
	font-size: 12px;
	font-weight: 500;
	color: gray;
	text-align: center;
}

.skill:hover .logo-box {
	transform: scale(1.1);
	border-color: dodgerblue;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}
